@model Examen_Grupo_3_Jefferson_Lara.Models.FormatoAcosoLaboral

@{
    ViewData["Title"] = "Editar";
}

<h3>EDITAR</h3>
<hr />
<table class="table table">
</table>
<table>
    <tr>
        <td>
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">

                            <h6 class="text-center">FORMATO DE ACOSO LABORAL</h6>
                            <hr />
                            <label asp-for="Fecha">FECHA DILIGENCIAMIENTO</label>
                            <input asp-for="Fecha" class="form-control" />
                            <span asp-validation-for="Fecha" class="text-danger"></span>
                            <hr />
                            <h6>FORMATO PARA IMPONER QUEJAS POR ACOSO LABORAL O PRESENTAR SUGERENCIAS ANTE EL COMITE DE CONVIVENCIA LABORAL DE LA EMPRESACOBALSANLTINA</h6>
                            <hr />

                            <label asp-for="Nombre" class="control-label"> NOMBRE</label>
                            <input asp-for="Nombre" placeholder="NO SE ACEPTAN ANONIMOS" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>

                            <hr />
                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>     </th>
                                            <th></th>
                                            <th></th>
                                            <th>     </th>
                                            <th></th>
                                            <th></th>
                                            <th>     </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> <label asp-for="Identidad" class="control-label">IDENTIDAD</label></td>
                                            <td><input asp-for="Identidad" /></td>
                                            <td>    </td>
                                            <td><label asp-for="CC" class="control-label">C.C</label></td>
                                            <td> <input asp-for="CC" /></td>
                                            <td>    </td>
                                            <td><label asp-for="NumeroCelular" class="control-label">NUMERO</label></td>
                                            <td><input asp-for="NumeroCelular" /></td>
                                            <td>   </td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>
                            <span asp-validation-for="Identidad" class="text-danger"></span>
                            <span asp-validation-for="CC" class="text-danger"></span>
                            <span asp-validation-for="NumeroCelular" class="text-danger"></span>
                            <div>

                                <hr />
                                <label asp-for="Dependencia" class="control-label">DEPENDENCIA</label>
                                <input asp-for="Dependencia" class="form-control" />
                                <span asp-validation-for="Dependencia" class="text-danger"></span>

                                <label asp-for="Cargo" class="control-label">CARGO</label>
                                <input asp-for="Cargo" class="form-control" />
                                <span asp-validation-for="Cargo" class="text-danger"></span>

                                <label asp-for="Correo" class="control-label">CORREO</label>
                                <input asp-for="Correo" class="form-control" />
                                <span asp-validation-for="Correo" class="text-danger"></span>

                                <hr />
                                <h6 class="text-center">QUEJAS</h6>
                                <hr />


                                <h6 class="text-center">Si usted quiere presentar una queja,diligencie los siguientes espacios.Si va a presentar una sugerencia diligencie solo el espacio diseñado para ese proposito</h6>
                                <hr />

                                <label asp-for="ParrafoHechos" class="control-label">RELACION DE HECHOS CONSTITUTIVOS DE LA QUEJA</label>
                                <input asp-for="ParrafoHechos" class="form-control" />
                                <span asp-validation-for="ParrafoHechos" class="text-danger"></span>

                                <hr />
                                <h6 class="text-center">(De ser necesario el Comite podra solicitarle porteriormente la ampliacion de la informacion ofrecida)</h6>
                                <hr />

                                <label asp-for="Prueba" class="control-label text-center">¿CUENTA USTED CON PRUEBAS?</label>
                                <input asp-for="Prueba" placeholder="(Cual(es)?)" class="form-control" />
                                <span asp-validation-for="Prueba" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-info" />
                            <a asp-action="Index" class="btn btn-lin">Regresar</a>
                        </div>
                    </form>
                </div>

            </div>
        </td>

</table>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}